<?xml version="1.0" encoding="UTF-8"?>
<configuration>
	<appender name="consoleAppender" class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<Pattern>%d{HH:mm:ss.SSS} >> %-3relative [%thread] %-5level	%logger{25} - %msg %n</Pattern>
		</encoder>
	</appender>

	<appender name="rollingFileAppender"
		class="ch.qos.logback.core.rolling.RollingFileAppender">
		<File>logs/tmpLog/togglz.log</File>

		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<FileNamePattern>logs/tempLog/togglz-%d{yyyy-MM-dd---HH-mm}.log</FileNamePattern>
			<maxHistory>30</maxHistory>
		</rollingPolicy>

		<encoder>
			<Pattern>%d{HH:mm:ss} [%thread] %-5level %logger - %msg %n</Pattern>
		</encoder>
	</appender>

	<logger name="com.example.togglz" additivity="false">
		<appender-ref ref="consoleAppender" />
		<appender-ref ref="rollingFileAppender" />
	</logger>
	
	<logger name="org.springframework.web" additivity="false">
		<appender-ref ref="consoleAppender" />
		<appender-ref ref="rollingFileAppender" />
	</logger>

</configuration>